@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0B0B;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background-color: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}